.container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px; */
  }
  
  .toggle-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .form-container {
    margin-top: 20px;
  }
  
  .project-form {
    width: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .project-form h2 {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
  }
  
  .form-group input, select {
    width: 95%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }