<div class="container">
    <button class="toggle-button" (click)="toggleFormVisibility()">Create Project</button>
    <div class="form-container" [hidden]="!showForm">
      <form (ngSubmit)="onSubmit()" class="project-form">
        <h2>Create new DT Project</h2>
        <div class="form-group">
          <label for="projectName">Project Name:</label>
          <input type="text" id="projectName" name="projectName" [(ngModel)]="project.projectName" required>
        </div>
        <div class="form-group">
          <label for="projectType">Project Type:</label>
          <select type="text" id="projectType" name="projectType" [(ngModel)]="project.projectType" required>
            <option *ngFor="let type of projectTypes" [value]="type.value">{{ type.name }}</option>
          </select>
        </div>
        <button type="submit" class="submit-button">Create</button>
      </form>
    </div>
  </div>