<h2>Digital Twins</h2>

<table>
  <thead>
    <tr>
      <th>Digital Twin Name</th>
      <th>Simulation</th>
      <th>Continuous Simulation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let digitalTwin of digitalTwins">
      <td>{{ digitalTwin.name }}</td>
      <td>
        <a [routerLink]="['/simulation', digitalTwin.id]">Simulation</a>
      </td>
      <td>
        <a [routerLink]="['/continuous-simulation', digitalTwin.id]">Continuous Simulation</a>
      </td>
    </tr>
  </tbody>
</table>