<h2>Digital Twins</h2>

<button (click)="toggleMarkerCreation()" [ngClass]="{'active': isMarkerCreationEnabled}">
  {{ isMarkerCreationEnabled ? 'Close' : 'Create Digital Twin' }}
</button>

<div *ngIf="isMarkerCreationEnabled">
  <app-create-digital-twin [projectId]="projectId"></app-create-digital-twin>
</div>

<button (click)="startSimulation()">Start Simulation</button>
<button (click)="stopSimulation()">Stop Simulation</button>

<table>
  <thead>
    <tr>
      <th>Digital Twin Name</th>
      <th>Simulation</th>
      <th>Continuous Simulation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let digitalTwin of digitalTwins">
      <td>
        <a [routerLink]="['/digitalTwin', digitalTwin.id]"> {{ digitalTwin.name }}</a> 
      </td>
      <td>
        <a [routerLink]="['/simulation', digitalTwin.id]">Simulation</a>
      </td>
      <td>
        <a [routerLink]="['/continuous-simulation', digitalTwin.id]">Continuous Simulation</a>
      </td>
    </tr>
  </tbody>
</table>

<div class="map-container"></div>
<app-wind-turbine-map *ngIf="digitalTwins" [digitalTwins]="digitalTwins"></app-wind-turbine-map>